.logo {
    @include centeredFlex(flex, center);
    font-family: $logo-font;
    font-size: 24px;
    color: getColor("second-title-text");

    &--blue {
        color: getColor("accent-text");
    }

    
    @media screen and (min-width: $mobile) {
        margin-right: calc(5%);
    }

    @media screen and (min-width: $tablet) {
        margin-right: 83px;        
    }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
        font-size: 26px;
    }
    
}
