.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    z-index: 100000000;

    fill: getColor("secondary-title-color");
    @include transform(fill);

    &:hover {
        fill: getColor("accent-color");
    }

    @media screen and (min-width: $mobile) {
      display: none;
    }

    & .icon-cross {
        display: none;
    }

    &.is-open .icon-cross {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }
}
  